html {
  position: relative;
  min-height: 100%; }

body {
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 320px; }

body > .container, body > .container-fluid {
  background: white;
  z-index: 100;
  position: relative; }

.center {
  text-align: center; }

#main-panel {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    #main-panel {
      margin-top: -30px; } }

img.pull-right {
  margin: 0 0 15px 5px; }

img.pull-left {
  margin: 5px 15px 0 0; }

@media screen and (min-width: 868px) {
  .container, .container-fluid {
    -webkit-transition: width .3s ease-in-out;
            transition: width .3s ease-in-out; } }

.navbar-transparent {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  background-repeat: no-repeat;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
  border-top: 0;
  -webkit-transition: background .3s ease, border-bottom .3s ease;
          transition: background .3s ease, border-bottom .3s ease; }

.navbar-nav > li > a {
  font-weight: bold; }

.navbar-brand, .navbar-nav > li > a {
  color: #f1f1f1;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-transition: color .3s ease, text-shadow .3s ease;
          transition: color .3s ease, text-shadow .3s ease;
  -webkit-transition: padding-top .3s ease, padding-bottom .3s ease;
          transition: padding-top .3s ease, padding-bottom .3s ease; }

.navbar-nav > li > a:hover {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  color: white; }

.navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
  background-color: rgba(0, 0, 0, 0.3); }

.navbar-toggle {
  border: 1px solid #bbb;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-transition: border .3s ease, box-shadow .3s ease, background .3s ease;
          transition: border .3s ease, box-shadow .3s ease, background .3s ease; }
  .navbar-toggle:hover {
    background: rgba(255, 255, 255, 0.3); }
  .navbar-toggle:active {
    background: rgba(255, 255, 255, 0.4); }

.navbar-toggle .icon-bar {
  border: 1px solid white;
  -webkit-transition: border .3s ease;
          transition: border .3s ease; }

@media (max-width: 767px) {
  .navbar-collapse {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center; }
    .navbar-collapse ul {
      margin-top: 0;
      margin-bottom: 0; }
  .navbar-collapse ul > li > a {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  .navbar-nav > li > a {
    color: #555;
    text-shadow: 0px 1px 2px transparent; }
  .navbar-nav > li > a:hover {
    background: rgba(0, 0, 0, 0.05); }
  .navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
    background-color: rgba(0, 0, 0, 0.2); }
  li.divider {
    background: #ccc; }
  li.dropdown.open {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  li.dropdown > ul {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.05) !important; } }

.navbar-transparent.solid {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd; }
  .navbar-transparent.solid .navbar-brand, .navbar-transparent.solid .navbar-nav > li > a {
    color: #555;
    text-shadow: 0px 1px 2px transparent; }
  .navbar-transparent.solid .navbar-toggle {
    border: 1px solid #aaa;
    box-shadow: 0px 1px 2px transparent; }
    .navbar-transparent.solid .navbar-toggle:hover {
      background: rgba(0, 0, 0, 0.1); }
    .navbar-transparent.solid .navbar-toggle:active {
      background: rgba(0, 0, 0, 0.2); }
  .navbar-transparent.solid .navbar-toggle .icon-bar {
    border: 1px solid #555; }
  .navbar-transparent.solid .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.1); }
  .navbar-transparent.solid .nav .open > a, .navbar-transparent.solid .nav .open > a:hover, .navbar-transparent.solid .nav .open > a:focus {
    background-color: rgba(0, 0, 0, 0.2); }

.navbar lh {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #aaa;
  text-align: center; }

.navbar .navbar-brand {
  padding-top: 0; }

.navbar .navbar-brand img {
  height: 50px;
  -webkit-transition: all .3s ease;
          transition: all .3s ease; }

.navbar.big-logo .navbar-brand img {
  height: 50px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  @media (min-width: 992px) {
    .navbar.big-logo .navbar-brand img {
      height: 80px; } }
  @media (min-width: 1200px) {
    .navbar.big-logo .navbar-brand img {
      height: 100px; } }
.navbar.big-logo .navbar-nav > li > a {
  padding-top: 15px; }
  @media (min-width: 992px) {
    .navbar.big-logo .navbar-nav > li > a {
      padding-top: 30px; } }
  @media (min-width: 1200px) {
    .navbar.big-logo .navbar-nav > li > a {
      padding-top: 40px; } }

#header-image {
  padding: 0;
  overflow: hidden; }

#header-image .row {
  margin: 0; }

#header-image .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  -webkit-transition: height .3s ease;
          transition: height .3s ease;
  position: relative;
  height: 250px; }
  @media (min-width: 400px) {
    #header-image .image {
      height: 350px; } }
  @media (min-width: 768px) {
    #header-image .image {
      height: 400px; } }
  @media (min-width: 992px) {
    #header-image .image {
      height: 400px; } }
  @media (min-width: 1200px) {
    #header-image .image {
      height: 500px; } }
  #header-image .image.small {
    height: 200px; }
    @media (min-width: 400px) {
      #header-image .image.small {
        height: 250px; } }
    @media (min-width: 768px) {
      #header-image .image.small {
        height: 300px; } }
    @media (min-width: 992px) {
      #header-image .image.small {
        height: 300px; } }
    @media (min-width: 1200px) {
      #header-image .image.small {
        height: 400px; } }
  #header-image .image.large {
    height: 350px; }
    @media (min-width: 400px) {
      #header-image .image.large {
        height: 450px; } }
    @media (min-width: 768px) {
      #header-image .image.large {
        height: 500px; } }
    @media (min-width: 992px) {
      #header-image .image.large {
        height: 500px; } }
    @media (min-width: 1200px) {
      #header-image .image.large {
        height: 600px; } }
  #header-image .image .caption {
    position: absolute;
    bottom: 20px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8); }
    @media (min-width: 768px) {
      #header-image .image .caption {
        bottom: 50px; } }
  #header-image .image .caption h1 {
    font-family: "Arial Black", "Arial", "Helvetica Neue";
    font-weight: 900;
    font-size: 30px; }
  #header-image .image .caption h1, #header-image .image .caption h4 {
    margin: 0; }

.caption {
  color: white;
  text-align: center; }

#header-carousel {
  height: 400px;
  width: 100%;
  text-overflow: ellipsis;
  -webkit-transition: height .3s ease-in-out;
          transition: height .3s ease-in-out; }
  @media (min-width: 768px) {
    #header-carousel {
      height: 500px; } }
  @media (min-width: 992px) {
    #header-carousel {
      height: 500px; } }
  @media (min-width: 1200px) {
    #header-carousel {
      height: 600px; } }
  #header-carousel .carousel-inner {
    width: 100%;
    height: 100%; }
  #header-carousel img {
    width: 100%;
    height: auto; }
  #header-carousel .carousel-caption {
    bottom: 0px;
    text-align: left;
    left: 0;
    right: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 60px;
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    /* IE6-9 */ }
  #header-carousel .item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center; }
  #header-carousel h1 {
    font-weight: bold; }
    @media (max-width: 767px) {
      #header-carousel h1 {
        font-size: 25px; } }

#carousel-wrapper {
  padding: 0;
  margin: 0; }

.list-divided > li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .list-divided > li:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

aside.sidebar {
  padding: 0; }

.nav-blocks {
  color: white;
  text-align: center;
  position: relative;
  background: #ddd; }
  .nav-blocks > li > a {
    color: white;
    padding: 10px 5px;
    margin: 0;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    @media (max-width: 767px) {
      .nav-blocks > li > a {
        padding: 10px 0px; } }
  .nav-blocks > li {
    padding: 0; }
    @media (max-width: 767px) {
      .nav-blocks > li {
        display: block;
        float: left;
        width: 50%; } }
  .nav-blocks h3 {
    margin: 15px; }
    @media (max-width: 767px) {
      .nav-blocks h3 {
        margin: 10px; } }

.nav-pills lh {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #aaa; }
.nav-pills .divider {
  height: 0px;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px; }

.lyceum .nav-blocks {
  background: #FDB924; }
.lyceum #primary-links > li:nth-of-type(1) > a {
  background: #fecb5c;
  text-shadow: 0px 1px 5px #f1a602;
  color: white; }
  .lyceum #primary-links > li:nth-of-type(1) > a:hover {
    background: #fedb8e; }
.lyceum #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.lyceum #primary-links > li:nth-of-type(1) > a.showoff {
  background: #fedb8e; }
.lyceum #primary-links > li:nth-of-type(2) > a {
  background: #fdc64c;
  text-shadow: 0px 1px 5px #e29c02;
  color: white; }
  .lyceum #primary-links > li:nth-of-type(2) > a:hover {
    background: #fed67f; }
.lyceum #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.lyceum #primary-links > li:nth-of-type(2) > a.showoff {
  background: #fed67f; }
.lyceum #primary-links > li:nth-of-type(3) > a {
  background: #fece66;
  text-shadow: 0px 1px 5px #fbad02;
  color: white; }
  .lyceum #primary-links > li:nth-of-type(3) > a:hover {
    background: #fede98; }
.lyceum #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.lyceum #primary-links > li:nth-of-type(3) > a.showoff {
  background: #fede98; }
.lyceum #primary-links > li:nth-of-type(4) > a {
  background: #fdc957;
  text-shadow: 0px 1px 5px #eca302;
  color: white; }
  .lyceum #primary-links > li:nth-of-type(4) > a:hover {
    background: #fed989; }
.lyceum #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.lyceum #primary-links > li:nth-of-type(4) > a.showoff {
  background: #fed989; }
.lyceum #primary-links > li:nth-of-type(4) > a {
  background: #fdc957;
  text-shadow: 0px 1px 5px #eca302;
  color: white; }
  .lyceum #primary-links > li:nth-of-type(4) > a:hover {
    background: #fed989; }
.lyceum #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.lyceum #primary-links > li:nth-of-type(4) > a.showoff {
  background: #fed989; }
.lyceum #secondary-links > li:nth-of-type(1) > a {
  background: #e79f02;
  text-shadow: 0px 1px 5px #b47c02;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(1) > a:hover, .lyceum #secondary-links > li:nth-of-type(1) > a #secondary-links > li:nth-of-type(1).active > a {
    background: #b47c02; }
.lyceum #secondary-links > li:nth-of-type(1) > a.showoff {
  background: #fdb71f; }
.lyceum #secondary-links > li:nth-of-type(2) > a {
  background: #fdb310;
  text-shadow: 0px 1px 5px #d89502;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(2) > a:hover, .lyceum #secondary-links > li:nth-of-type(2) > a #secondary-links > li:nth-of-type(2).active > a {
    background: #d89502; }
.lyceum #secondary-links > li:nth-of-type(2) > a.showoff {
  background: #fdc342; }
.lyceum #secondary-links > li:nth-of-type(3) > a {
  background: #fbad02;
  text-shadow: 0px 1px 5px #c88a02;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(3) > a:hover, .lyceum #secondary-links > li:nth-of-type(3) > a #secondary-links > li:nth-of-type(3).active > a {
    background: #c88a02; }
.lyceum #secondary-links > li:nth-of-type(3) > a.showoff {
  background: #fdbe33; }
.lyceum #secondary-links > li:nth-of-type(4) > a {
  background: #fdb924;
  text-shadow: 0px 1px 5px #eca302;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(4) > a:hover, .lyceum #secondary-links > li:nth-of-type(4) > a #secondary-links > li:nth-of-type(4).active > a {
    background: #eca302; }
.lyceum #secondary-links > li:nth-of-type(4) > a.showoff {
  background: #fdc957; }
.lyceum #secondary-links > li:nth-of-type(5) > a {
  background: #f6aa02;
  text-shadow: 0px 1px 5px #c38702;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(5) > a:hover, .lyceum #secondary-links > li:nth-of-type(5) > a #secondary-links > li:nth-of-type(5).active > a {
    background: #c38702; }
.lyceum #secondary-links > li:nth-of-type(5) > a.showoff {
  background: #fdbc2e; }
.lyceum #secondary-links > li:nth-of-type(6) > a {
  background: #fdb10b;
  text-shadow: 0px 1px 5px #d39102;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(6) > a:hover, .lyceum #secondary-links > li:nth-of-type(6) > a #secondary-links > li:nth-of-type(6).active > a {
    background: #d39102; }
.lyceum #secondary-links > li:nth-of-type(6) > a.showoff {
  background: #fdc13d; }
.lyceum #secondary-links > li:nth-of-type(7) > a {
  background: #eca302;
  text-shadow: 0px 1px 5px #b98002;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(7) > a:hover, .lyceum #secondary-links > li:nth-of-type(7) > a #secondary-links > li:nth-of-type(7).active > a {
    background: #b98002; }
.lyceum #secondary-links > li:nth-of-type(7) > a.showoff {
  background: #fdb924; }
.lyceum #secondary-links > li:nth-of-type(8) > a {
  background: #d39102;
  text-shadow: 0px 1px 5px #a06e01;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(8) > a:hover, .lyceum #secondary-links > li:nth-of-type(8) > a #secondary-links > li:nth-of-type(8).active > a {
    background: #a06e01; }
.lyceum #secondary-links > li:nth-of-type(8) > a.showoff {
  background: #fdb10b; }
.lyceum #secondary-links > li:nth-of-type(9) > a {
  background: #fdaf06;
  text-shadow: 0px 1px 5px #ce8e02;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(9) > a:hover, .lyceum #secondary-links > li:nth-of-type(9) > a #secondary-links > li:nth-of-type(9).active > a {
    background: #ce8e02; }
.lyceum #secondary-links > li:nth-of-type(9) > a.showoff {
  background: #fdbf38; }
.lyceum #secondary-links > li:nth-of-type(10) > a {
  background: #f1a602;
  text-shadow: 0px 1px 5px #be8302;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(10) > a:hover, .lyceum #secondary-links > li:nth-of-type(10) > a #secondary-links > li:nth-of-type(10).active > a {
    background: #be8302; }
.lyceum #secondary-links > li:nth-of-type(10) > a.showoff {
  background: #fdbb29; }
.lyceum #secondary-links > li:nth-of-type(11) > a {
  background: #dd9802;
  text-shadow: 0px 1px 5px #aa7502;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(11) > a:hover, .lyceum #secondary-links > li:nth-of-type(11) > a #secondary-links > li:nth-of-type(11).active > a {
    background: #aa7502; }
.lyceum #secondary-links > li:nth-of-type(11) > a.showoff {
  background: #fdb415; }
.lyceum #secondary-links > li:nth-of-type(12) > a {
  background: #fdae03;
  text-shadow: 0px 1px 5px #cb8c02;
  color: white; }
  .lyceum #secondary-links > li:nth-of-type(12) > a:hover, .lyceum #secondary-links > li:nth-of-type(12) > a #secondary-links > li:nth-of-type(12).active > a {
    background: #cb8c02; }
.lyceum #secondary-links > li:nth-of-type(12) > a.showoff {
  background: #fdbf36; }

.calendar .event.lyceum .event-color {
  background: #FDB924; }

.mavo .nav-blocks {
  background: #88CBDF; }
.mavo #primary-links > li:nth-of-type(1) > a {
  background: #b4deeb;
  text-shadow: 0px 1px 5px #64bbd5;
  color: white; }
  .mavo #primary-links > li:nth-of-type(1) > a:hover {
    background: #dcf0f6; }
.mavo #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.mavo #primary-links > li:nth-of-type(1) > a.showoff {
  background: #dcf0f6; }
.mavo #primary-links > li:nth-of-type(2) > a {
  background: #a8d9e8;
  text-shadow: 0px 1px 5px #58b6d2;
  color: white; }
  .mavo #primary-links > li:nth-of-type(2) > a:hover {
    background: #d0ebf2; }
.mavo #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.mavo #primary-links > li:nth-of-type(2) > a.showoff {
  background: #d0ebf2; }
.mavo #primary-links > li:nth-of-type(3) > a {
  background: #bce2ed;
  text-shadow: 0px 1px 5px #6cbfd7;
  color: white; }
  .mavo #primary-links > li:nth-of-type(3) > a:hover {
    background: #e4f3f8; }
.mavo #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.mavo #primary-links > li:nth-of-type(3) > a.showoff {
  background: #e4f3f8; }
.mavo #primary-links > li:nth-of-type(4) > a {
  background: #b0ddea;
  text-shadow: 0px 1px 5px #60b9d4;
  color: white; }
  .mavo #primary-links > li:nth-of-type(4) > a:hover {
    background: #d8eef5; }
.mavo #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.mavo #primary-links > li:nth-of-type(4) > a.showoff {
  background: #d8eef5; }
.mavo #primary-links > li:nth-of-type(4) > a {
  background: #b0ddea;
  text-shadow: 0px 1px 5px #60b9d4;
  color: white; }
  .mavo #primary-links > li:nth-of-type(4) > a:hover {
    background: #d8eef5; }
.mavo #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.mavo #primary-links > li:nth-of-type(4) > a.showoff {
  background: #d8eef5; }
.mavo #secondary-links > li:nth-of-type(1) > a {
  background: #5cb8d3;
  text-shadow: 0px 1px 5px #35a5c7;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(1) > a:hover, .mavo #secondary-links > li:nth-of-type(1) > a #secondary-links > li:nth-of-type(1).active > a {
    background: #35a5c7; }
.mavo #secondary-links > li:nth-of-type(1) > a.showoff {
  background: #84c9de; }
.mavo #secondary-links > li:nth-of-type(2) > a {
  background: #78c4db;
  text-shadow: 0px 1px 5px #50b2d0;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(2) > a:hover, .mavo #secondary-links > li:nth-of-type(2) > a #secondary-links > li:nth-of-type(2).active > a {
    background: #50b2d0; }
.mavo #secondary-links > li:nth-of-type(2) > a.showoff {
  background: #a0d6e5; }
.mavo #secondary-links > li:nth-of-type(3) > a {
  background: #6cbfd7;
  text-shadow: 0px 1px 5px #44adcd;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(3) > a:hover, .mavo #secondary-links > li:nth-of-type(3) > a #secondary-links > li:nth-of-type(3).active > a {
    background: #44adcd; }
.mavo #secondary-links > li:nth-of-type(3) > a.showoff {
  background: #94d0e2; }
.mavo #secondary-links > li:nth-of-type(4) > a {
  background: #88cbdf;
  text-shadow: 0px 1px 5px #60b9d4;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(4) > a:hover, .mavo #secondary-links > li:nth-of-type(4) > a #secondary-links > li:nth-of-type(4).active > a {
    background: #60b9d4; }
.mavo #secondary-links > li:nth-of-type(4) > a.showoff {
  background: #b0ddea; }
.mavo #secondary-links > li:nth-of-type(5) > a {
  background: #68bdd6;
  text-shadow: 0px 1px 5px #40abcc;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(5) > a:hover, .mavo #secondary-links > li:nth-of-type(5) > a #secondary-links > li:nth-of-type(5).active > a {
    background: #40abcc; }
.mavo #secondary-links > li:nth-of-type(5) > a.showoff {
  background: #90cfe1; }
.mavo #secondary-links > li:nth-of-type(6) > a {
  background: #74c2da;
  text-shadow: 0px 1px 5px #4cb1cf;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(6) > a:hover, .mavo #secondary-links > li:nth-of-type(6) > a #secondary-links > li:nth-of-type(6).active > a {
    background: #4cb1cf; }
.mavo #secondary-links > li:nth-of-type(6) > a.showoff {
  background: #9cd4e4; }
.mavo #secondary-links > li:nth-of-type(7) > a {
  background: #60b9d4;
  text-shadow: 0px 1px 5px #38a8c9;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(7) > a:hover, .mavo #secondary-links > li:nth-of-type(7) > a #secondary-links > li:nth-of-type(7).active > a {
    background: #38a8c9; }
.mavo #secondary-links > li:nth-of-type(7) > a.showoff {
  background: #88cbdf; }
.mavo #secondary-links > li:nth-of-type(8) > a {
  background: #4cb1cf;
  text-shadow: 0px 1px 5px #3198b6;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(8) > a:hover, .mavo #secondary-links > li:nth-of-type(8) > a #secondary-links > li:nth-of-type(8).active > a {
    background: #3198b6; }
.mavo #secondary-links > li:nth-of-type(8) > a.showoff {
  background: #74c2da; }
.mavo #secondary-links > li:nth-of-type(9) > a {
  background: #70c0d9;
  text-shadow: 0px 1px 5px #48afce;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(9) > a:hover, .mavo #secondary-links > li:nth-of-type(9) > a #secondary-links > li:nth-of-type(9).active > a {
    background: #48afce; }
.mavo #secondary-links > li:nth-of-type(9) > a.showoff {
  background: #98d2e3; }
.mavo #secondary-links > li:nth-of-type(10) > a {
  background: #64bbd5;
  text-shadow: 0px 1px 5px #3caaca;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(10) > a:hover, .mavo #secondary-links > li:nth-of-type(10) > a #secondary-links > li:nth-of-type(10).active > a {
    background: #3caaca; }
.mavo #secondary-links > li:nth-of-type(10) > a.showoff {
  background: #8ccde0; }
.mavo #secondary-links > li:nth-of-type(11) > a {
  background: #54b4d1;
  text-shadow: 0px 1px 5px #339ebe;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(11) > a:hover, .mavo #secondary-links > li:nth-of-type(11) > a #secondary-links > li:nth-of-type(11).active > a {
    background: #339ebe; }
.mavo #secondary-links > li:nth-of-type(11) > a.showoff {
  background: #7cc6dc; }
.mavo #secondary-links > li:nth-of-type(12) > a {
  background: #6ec0d8;
  text-shadow: 0px 1px 5px #46aecd;
  color: white; }
  .mavo #secondary-links > li:nth-of-type(12) > a:hover, .mavo #secondary-links > li:nth-of-type(12) > a #secondary-links > li:nth-of-type(12).active > a {
    background: #46aecd; }
.mavo #secondary-links > li:nth-of-type(12) > a.showoff {
  background: #96d1e3; }

.calendar .event.mavo .event-color {
  background: #88CBDF; }

.beroepsonderwijs .nav-blocks {
  background: #E31836; }
.beroepsonderwijs #primary-links > li:nth-of-type(1) > a {
  background: #ec4860;
  text-shadow: 0px 1px 5px #b9142c;
  color: white; }
  .beroepsonderwijs #primary-links > li:nth-of-type(1) > a:hover {
    background: #f07688; }
.beroepsonderwijs #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.beroepsonderwijs #primary-links > li:nth-of-type(1) > a.showoff {
  background: #f07688; }
.beroepsonderwijs #primary-links > li:nth-of-type(2) > a {
  background: #ea3a54;
  text-shadow: 0px 1px 5px #ac1229;
  color: white; }
  .beroepsonderwijs #primary-links > li:nth-of-type(2) > a:hover {
    background: #ef687c; }
.beroepsonderwijs #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.beroepsonderwijs #primary-links > li:nth-of-type(2) > a.showoff {
  background: #ef687c; }
.beroepsonderwijs #primary-links > li:nth-of-type(3) > a {
  background: #ed5168;
  text-shadow: 0px 1px 5px #c3152e;
  color: white; }
  .beroepsonderwijs #primary-links > li:nth-of-type(3) > a:hover {
    background: #f17f90; }
.beroepsonderwijs #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.beroepsonderwijs #primary-links > li:nth-of-type(3) > a.showoff {
  background: #f17f90; }
.beroepsonderwijs #primary-links > li:nth-of-type(4) > a {
  background: #eb435c;
  text-shadow: 0px 1px 5px #b5132b;
  color: white; }
  .beroepsonderwijs #primary-links > li:nth-of-type(4) > a:hover {
    background: #f07184; }
.beroepsonderwijs #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.beroepsonderwijs #primary-links > li:nth-of-type(4) > a.showoff {
  background: #f07184; }
.beroepsonderwijs #primary-links > li:nth-of-type(4) > a {
  background: #eb435c;
  text-shadow: 0px 1px 5px #b5132b;
  color: white; }
  .beroepsonderwijs #primary-links > li:nth-of-type(4) > a:hover {
    background: #f07184; }
.beroepsonderwijs #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.beroepsonderwijs #primary-links > li:nth-of-type(4) > a.showoff {
  background: #f07184; }
.beroepsonderwijs #secondary-links > li:nth-of-type(1) > a {
  background: #b0132a;
  text-shadow: 0px 1px 5px #820e1f;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(1) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(1) > a #secondary-links > li:nth-of-type(1).active > a {
    background: #820e1f; }
.beroepsonderwijs #secondary-links > li:nth-of-type(1) > a.showoff {
  background: #de1835; }
.beroepsonderwijs #secondary-links > li:nth-of-type(2) > a {
  background: #d11632;
  text-shadow: 0px 1px 5px #a21127;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(2) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(2) > a #secondary-links > li:nth-of-type(2).active > a {
    background: #a21127; }
.beroepsonderwijs #secondary-links > li:nth-of-type(2) > a.showoff {
  background: #e9304c; }
.beroepsonderwijs #secondary-links > li:nth-of-type(3) > a {
  background: #c3152e;
  text-shadow: 0px 1px 5px #951023;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(3) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(3) > a #secondary-links > li:nth-of-type(3).active > a {
    background: #951023; }
.beroepsonderwijs #secondary-links > li:nth-of-type(3) > a.showoff {
  background: #e82340; }
.beroepsonderwijs #secondary-links > li:nth-of-type(4) > a {
  background: #e31836;
  text-shadow: 0px 1px 5px #b5132b;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(4) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(4) > a #secondary-links > li:nth-of-type(4).active > a {
    background: #b5132b; }
.beroepsonderwijs #secondary-links > li:nth-of-type(4) > a.showoff {
  background: #eb435c; }
.beroepsonderwijs #secondary-links > li:nth-of-type(5) > a {
  background: #be142d;
  text-shadow: 0px 1px 5px #900f22;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(5) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(5) > a #secondary-links > li:nth-of-type(5).active > a {
    background: #900f22; }
.beroepsonderwijs #secondary-links > li:nth-of-type(5) > a.showoff {
  background: #e71e3c; }
.beroepsonderwijs #secondary-links > li:nth-of-type(6) > a {
  background: #cc1631;
  text-shadow: 0px 1px 5px #9e1126;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(6) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(6) > a #secondary-links > li:nth-of-type(6).active > a {
    background: #9e1126; }
.beroepsonderwijs #secondary-links > li:nth-of-type(6) > a.showoff {
  background: #e92c48; }
.beroepsonderwijs #secondary-links > li:nth-of-type(7) > a {
  background: #b5132b;
  text-shadow: 0px 1px 5px #870e20;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(7) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(7) > a #secondary-links > li:nth-of-type(7).active > a {
    background: #870e20; }
.beroepsonderwijs #secondary-links > li:nth-of-type(7) > a.showoff {
  background: #e31836; }
.beroepsonderwijs #secondary-links > li:nth-of-type(8) > a {
  background: #9e1126;
  text-shadow: 0px 1px 5px #700c1b;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(8) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(8) > a #secondary-links > li:nth-of-type(8).active > a {
    background: #700c1b; }
.beroepsonderwijs #secondary-links > li:nth-of-type(8) > a.showoff {
  background: #cc1631; }
.beroepsonderwijs #secondary-links > li:nth-of-type(9) > a {
  background: #c7152f;
  text-shadow: 0px 1px 5px #991024;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(9) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(9) > a #secondary-links > li:nth-of-type(9).active > a {
    background: #991024; }
.beroepsonderwijs #secondary-links > li:nth-of-type(9) > a.showoff {
  background: #e82744; }
.beroepsonderwijs #secondary-links > li:nth-of-type(10) > a {
  background: #b9142c;
  text-shadow: 0px 1px 5px #8b0f21;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(10) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(10) > a #secondary-links > li:nth-of-type(10).active > a {
    background: #8b0f21; }
.beroepsonderwijs #secondary-links > li:nth-of-type(10) > a.showoff {
  background: #e71938; }
.beroepsonderwijs #secondary-links > li:nth-of-type(11) > a {
  background: #a71228;
  text-shadow: 0px 1px 5px #790d1d;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(11) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(11) > a #secondary-links > li:nth-of-type(11).active > a {
    background: #790d1d; }
.beroepsonderwijs #secondary-links > li:nth-of-type(11) > a.showoff {
  background: #d51733; }
.beroepsonderwijs #secondary-links > li:nth-of-type(12) > a {
  background: #c5152f;
  text-shadow: 0px 1px 5px #971024;
  color: white; }
  .beroepsonderwijs #secondary-links > li:nth-of-type(12) > a:hover, .beroepsonderwijs #secondary-links > li:nth-of-type(12) > a #secondary-links > li:nth-of-type(12).active > a {
    background: #971024; }
.beroepsonderwijs #secondary-links > li:nth-of-type(12) > a.showoff {
  background: #e82542; }

.calendar .event.beroepsonderwijs .event-color {
  background: #E31836; }

.juniorcollege .nav-blocks {
  background: #49A942; }
.juniorcollege #primary-links > li:nth-of-type(1) > a {
  background: #68c262;
  text-shadow: 0px 1px 5px #3b8835;
  color: white; }
  .juniorcollege #primary-links > li:nth-of-type(1) > a:hover {
    background: #8bd086; }
.juniorcollege #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.juniorcollege #primary-links > li:nth-of-type(1) > a.showoff {
  background: #8bd086; }
.juniorcollege #primary-links > li:nth-of-type(2) > a {
  background: #5ebd57;
  text-shadow: 0px 1px 5px #367d31;
  color: white; }
  .juniorcollege #primary-links > li:nth-of-type(2) > a:hover {
    background: #81cc7b; }
.juniorcollege #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.juniorcollege #primary-links > li:nth-of-type(2) > a.showoff {
  background: #81cc7b; }
.juniorcollege #primary-links > li:nth-of-type(3) > a {
  background: #6fc469;
  text-shadow: 0px 1px 5px #3e8f38;
  color: white; }
  .juniorcollege #primary-links > li:nth-of-type(3) > a:hover {
    background: #92d38e; }
.juniorcollege #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.juniorcollege #primary-links > li:nth-of-type(3) > a.showoff {
  background: #92d38e; }
.juniorcollege #primary-links > li:nth-of-type(4) > a {
  background: #65c05e;
  text-shadow: 0px 1px 5px #398434;
  color: white; }
  .juniorcollege #primary-links > li:nth-of-type(4) > a:hover {
    background: #88ce83; }
.juniorcollege #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.juniorcollege #primary-links > li:nth-of-type(4) > a.showoff {
  background: #88ce83; }
.juniorcollege #primary-links > li:nth-of-type(4) > a {
  background: #65c05e;
  text-shadow: 0px 1px 5px #398434;
  color: white; }
  .juniorcollege #primary-links > li:nth-of-type(4) > a:hover {
    background: #88ce83; }
.juniorcollege #primary-links > li.active > a {
  background: white;
  color: #333;
  z-index: 10;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
.juniorcollege #primary-links > li:nth-of-type(4) > a.showoff {
  background: #88ce83; }
.juniorcollege #secondary-links > li:nth-of-type(1) > a {
  background: #388132;
  text-shadow: 0px 1px 5px #285c24;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(1) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(1) > a #secondary-links > li:nth-of-type(1).active > a {
    background: #285c24; }
.juniorcollege #secondary-links > li:nth-of-type(1) > a.showoff {
  background: #47a541; }
.juniorcollege #secondary-links > li:nth-of-type(2) > a {
  background: #439a3c;
  text-shadow: 0px 1px 5px #33762e;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(2) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(2) > a #secondary-links > li:nth-of-type(2).active > a {
    background: #33762e; }
.juniorcollege #secondary-links > li:nth-of-type(2) > a.showoff {
  background: #57ba4f; }
.juniorcollege #secondary-links > li:nth-of-type(3) > a {
  background: #3e8f38;
  text-shadow: 0px 1px 5px #2e6b2a;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(3) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(3) > a #secondary-links > li:nth-of-type(3).active > a {
    background: #2e6b2a; }
.juniorcollege #secondary-links > li:nth-of-type(3) > a.showoff {
  background: #4eb446; }
.juniorcollege #secondary-links > li:nth-of-type(4) > a {
  background: #49a942;
  text-shadow: 0px 1px 5px #398434;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(4) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(4) > a #secondary-links > li:nth-of-type(4).active > a {
    background: #398434; }
.juniorcollege #secondary-links > li:nth-of-type(4) > a.showoff {
  background: #65c05e; }
.juniorcollege #secondary-links > li:nth-of-type(5) > a {
  background: #3c8c37;
  text-shadow: 0px 1px 5px #2c6728;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(5) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(5) > a #secondary-links > li:nth-of-type(5).active > a {
    background: #2c6728; }
.juniorcollege #secondary-links > li:nth-of-type(5) > a.showoff {
  background: #4cb045; }
.juniorcollege #secondary-links > li:nth-of-type(6) > a {
  background: #41973b;
  text-shadow: 0px 1px 5px #31722d;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(6) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(6) > a #secondary-links > li:nth-of-type(6).active > a {
    background: #31722d; }
.juniorcollege #secondary-links > li:nth-of-type(6) > a.showoff {
  background: #53b94c; }
.juniorcollege #secondary-links > li:nth-of-type(7) > a {
  background: #398434;
  text-shadow: 0px 1px 5px #296025;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(7) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(7) > a #secondary-links > li:nth-of-type(7).active > a {
    background: #296025; }
.juniorcollege #secondary-links > li:nth-of-type(7) > a.showoff {
  background: #49a942; }
.juniorcollege #secondary-links > li:nth-of-type(8) > a {
  background: #31722d;
  text-shadow: 0px 1px 5px #214d1e;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(8) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(8) > a #secondary-links > li:nth-of-type(8).active > a {
    background: #214d1e; }
.juniorcollege #secondary-links > li:nth-of-type(8) > a.showoff {
  background: #41973b; }
.juniorcollege #secondary-links > li:nth-of-type(9) > a {
  background: #3f9339;
  text-shadow: 0px 1px 5px #306e2b;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(9) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(9) > a #secondary-links > li:nth-of-type(9).active > a {
    background: #306e2b; }
.juniorcollege #secondary-links > li:nth-of-type(9) > a.showoff {
  background: #4fb748; }
.juniorcollege #secondary-links > li:nth-of-type(10) > a {
  background: #3b8835;
  text-shadow: 0px 1px 5px #2b6327;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(10) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(10) > a #secondary-links > li:nth-of-type(10).active > a {
    background: #2b6327; }
.juniorcollege #secondary-links > li:nth-of-type(10) > a.showoff {
  background: #4bad43; }
.juniorcollege #secondary-links > li:nth-of-type(11) > a {
  background: #34792f;
  text-shadow: 0px 1px 5px #255521;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(11) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(11) > a #secondary-links > li:nth-of-type(11).active > a {
    background: #255521; }
.juniorcollege #secondary-links > li:nth-of-type(11) > a.showoff {
  background: #449e3e; }
.juniorcollege #secondary-links > li:nth-of-type(12) > a {
  background: #3f9139;
  text-shadow: 0px 1px 5px #2f6c2a;
  color: white; }
  .juniorcollege #secondary-links > li:nth-of-type(12) > a:hover, .juniorcollege #secondary-links > li:nth-of-type(12) > a #secondary-links > li:nth-of-type(12).active > a {
    background: #2f6c2a; }
.juniorcollege #secondary-links > li:nth-of-type(12) > a.showoff {
  background: #4fb647; }

.calendar .event.juniorcollege .event-color {
  background: #49A942; }

footer.container-fluid {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  background-color: #f5f5f5;
  background: #333;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px; }
  footer.container-fluid a {
    color: #64a0d3; }
  footer.container-fluid a:hover {
    color: #a0c4e4; }

#school-row {
  color: white;
  text-align: center;
  position: relative;
  background: black;
  z-index: 100; }
  #school-row .school-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
    background-size: cover;
    background-position: center center;
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease; }
  #school-row a[class*='col-'] {
    color: white;
    text-decoration: none;
    -webkit-transition: text-shadow .3s ease, background .3s ease;
            transition: text-shadow .3s ease, background .3s ease; }
    @media (min-width: 400px) and (max-width: 767px) {
      #school-row a[class*='col-'] {
        width: 50%; } }
    #school-row a[class*='col-']:hover .school-background {
      opacity: .8; }
    #school-row a[class*='col-']:hover {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
      background: #333; }
  #school-row h3 {
    z-index: 100;
    position: relative;
    margin: 25px 5px; }
  #school-row .lyceum {
    background: #FDB924; }
  #school-row .mavo {
    background: #88CBDF; }
  #school-row .beroepsonderwijs {
    background: #E31836; }
  #school-row .juniorcollege {
    background: #49A942; }
  #school-row a.showoff .school-background {
    opacity: .5; }

.mini-calendar .event-date {
  text-align: center;
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; }
  .mini-calendar .event-date .date-number {
    font-size: 23px;
    font-weight: bold; }
  .mini-calendar .event-date .date-month {
    margin-top: -5px;
    font-size: .8em; }
.mini-calendar h5 {
  margin-top: 0;
  margin-bottom: 3px; }
.mini-calendar p {
  font-size: .9em;
  margin-bottom: -3px; }
  .mini-calendar p span {
    margin-right: 15px; }
.mini-calendar .calendar-item:hover .read-more-link a {
  opacity: 1; }

.calendar {
  table-layout: fixed;
  width: 100%; }
  .calendar thead th {
    text-align: center; }
  .calendar thead .fa-chevron-left {
    padding-right: 15px; }
  .calendar thead .fa-chevron-right {
    padding-left: 15px; }
  .calendar td {
    position: relative;
    height: 100px;
    font-size: 12px;
    width: 18%; }
  .calendar td.holiday {
    background: #f4f4f4; }
    .calendar td.holiday .holiday-label {
      margin-top: 25px;
      text-align: center; }
  .calendar td:empty {
    background: #eee; }
  .calendar a {
    color: #333; }
  .calendar .date-number {
    float: left;
    margin: -8px 10px 0 -8px;
    background: #eee;
    padding: 5px;
    font-size: 12px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  .calendar .event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .calendar .event .event-color {
      width: 10px;
      height: 10px;
      background: #aaa;
      display: inline-block;
      border-radius: 100%; }

.popover-content {
  font-size: 13px; }

.read-more-link {
  font-size: 25px;
  margin-top: 8px;
  margin-left: 10px; }
  .read-more-link a {
    opacity: .2;
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease; }

.news .news-image {
  width: 50px;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .news .news-image {
      width: 80px; } }
.news h4 {
  margin-top: 0;
  margin-bottom: 3px; }
.news li > a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color .3s ease;
          transition: color .3s ease; }
  .news li > a:hover {
    color: #777; }
  .news li > a img {
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease; }
  .news li > a:hover img {
    opacity: .7; }

.news-meta {
  font-size: .9em;
  color: #999;
  text-align: center; }
  .news-meta a {
    color: #999 !important; }
  .news-meta a:hover {
    text-decoration: underline; }
  @media (min-width: 768px) {
    .news-meta {
      text-align: left; } }

header.bordered {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 15px 0; }

header.bordered h2 {
  display: inline-block;
  margin: 0; }

#announcements .announcement {
  padding: 5px 0; }
  #announcements .announcement h4 {
    margin-bottom: 3px; }

.no-announcements {
  text-align: center;
  color: #aaa; }
  .no-announcements i {
    font-size: 50px; }
  .no-announcements h3 {
    margin: 0; }

.schedule-wrapper {
  border: 1px solid #ddd; }

.schedule-wrapper tbody tr th {
  width: 5%;
  text-align: center;
  border-right: 1px solid #ddd; }

.schedule-wrapper tbody tr > td {
  width: 19%;
  border-right: 1px solid #ddd;
  height: 75px; }
  .schedule-wrapper tbody tr > td:last-of-type {
    border-right: none; }

.schedule-wrapper tbody td.vrij {
  background: #eee; }
/*# sourceMappingURL=style.css.map */