.mini-calendar {
	.event-date {
		text-align: center;
		padding: 3px 10px;
		border:1px solid #ccc;
		border-radius: 5px;
		margin-right:10px;
		
		.date-number {
			font-size: 23px;
			font-weight: bold;
		}
		
		.date-month {
			margin-top: -5px;
			font-size: .8em;
		}
	}
	
	h5 {
		margin-top: 0;
		margin-bottom: 3px;
	}
	
	p {
		font-size: .9em;
		margin-bottom: -3px;
		
		span { margin-right: 15px; }
	}

	.calendar-item:hover .read-more-link a {opacity:1}
}

.calendar {
	table-layout: fixed;
	width:100%;
	
	thead th { text-align: center }
	thead .fa-chevron-left { padding-right:15px; }
	thead .fa-chevron-right { padding-left:15px; }
	
	
	
	td {position: relative; height: 100px; font-size: 12px; width:18%;}
	td.holiday {
		background:#f4f4f4;
		.holiday-label {margin-top:25px; text-align: center;}
	}

	td:empty {background:#eee}
	
	a {color:#333}
	
	.date-number {
		float:left;
		margin:-8px 10px 0 -8px;
		background: #eee;
		padding: 5px;
		font-size: 12px;
		border-bottom-right-radius:5px;
		font-weight: bold;
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
	}
	
	.event {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.event-color {width:10px; height:10px; background:#aaa; display:inline-block; border-radius:100%;}
	}
	
}

.popover-content {font-size:13px;}