#school-row {
	color: white;
	text-align: center;
	position: relative;
	background:black;
	z-index:100;

	.school-background {
		position: absolute;
		top:0; right:0; bottom:0; left:0;
		opacity: .1;
		background-size: cover;
		background-position: center center;
		transition: opacity .3s ease;
	}
	
	a[class*='col-'] {
		color:white;
		text-decoration: none;
		transition: text-shadow .3s ease, background .3s ease;
		
		// Make more efficient use of available space by keeping the school row split until 400px
		@media (min-width:400px) and (max-width:$screen-xs-max) {width:50%;} 
		
		&:hover .school-background { opacity: .8; }
		&:hover { text-shadow: 0 0 5px rgba(0,0,0,0.8); background:#333;}
	}
	
	h3 {
		z-index: 100;
		position: relative;
		margin: 25px 5px;
	}

	.lyceum { background: #FDB924 }
	.mavo { background: #88CBDF }
	.beroepsonderwijs { background: #E31836 }
	.juniorcollege { background: #49A942 }
	
	a.showoff .school-background {
		opacity: .5;
	}
}
