.read-more-link {
	font-size: 25px;
	margin-top: 8px;
	margin-left:10px;
		
	a {opacity:.2; transition: opacity .3s ease;}
}

.news {
	.news-image {
		width: 50px;
		margin-right: 10px;
		
		@media (min-width:$screen-sm-min) {
			width: 80px;
		}
	}
	
	h4 {
		margin-top: 0;
		margin-bottom: 3px;
	}
	
	& li > a {
		color: #333;
		text-decoration: none;
		transition: color .3s ease;
		
		&:hover {color:#777;}
		
		img {transition: opacity .3s ease;}
		&:hover img {opacity: .7;}
	}
}

.news-meta {
	font-size:.9em;
	color:#999;
	text-align: center;
	
	a {color:#999 !important}
	a:hover {text-decoration: underline}
	
	@media (min-width:$screen-sm-min) {text-align: left;}
}