header.bordered {
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
	padding: 15px 0;
}

header.bordered h2 {
	display:inline-block;
	margin:0;
}

#announcements .announcement {
	padding: 5px 0;
	
	h4 {margin-bottom: 3px;}
}


.no-announcements {
	text-align: center;
	color:#aaa;
	
	i { font-size:50px; }
	h3 {margin:0;}
}





.schedule-wrapper {
	border:1px solid #ddd;
}


.schedule-wrapper tbody tr th {
	width:5%;
	text-align: center;
	border-right:1px solid #ddd;
}

.schedule-wrapper tbody tr > td {
	width:19%;
	border-right: 1px solid #ddd;
	height:75px;
	&:last-of-type{border-right:none;}
}

.schedule-wrapper tbody td.vrij {
	background:#eee;
}