footer.container-fluid {
	position: absolute;
	bottom: 0;
	width: 100%;
	// Set the fixed height of the footer here
	max-height:300px;
	overflow:scroll;
	background-color: #f5f5f5;
	background:#333;
	color:white;
	padding-top:15px; padding-bottom:15px;
	
	a { color: lighten($link-color,15%); }
	a:hover { color: lighten($link-color,30%); }
}