html {
	position: relative;
	min-height: 100%;
}

body {
	background: #f1f1f1;
	-webkit-font-smoothing: antialiased;
	// Margin bottom by footer height
	margin-bottom: 320px;
}

body > .container, body > .container-fluid {
	background: white;
	z-index:100;
	position:relative;
}

.center {
	text-align: center
}

#main-panel {
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	margin-bottom:30px;
	@media screen and (min-width: $screen-sm-min) {
		margin-top: -30px;
	}
}

img.pull-right { margin: 0 0 15px 5px; }
img.pull-left { margin: 5px 15px 0 0; }

@media screen and (min-width: $screen-sm-min + 100px) {
	.container, .container-fluid { transition: width .3s ease-in-out; }	
}

// $base-colors: (lyceum: #FDB924, mavo: #88CBDF, beroepsonderwijs: #E31836, juniorcollege: #49A942);
// @each $school,$base in $base-colors {
//	body.#{$school} {
//		a { color: darken($base,10%); }
//		a:hover {color: $base; }
//	}
// }