#header-image {padding:0; overflow: hidden;}
#header-image .row {margin:0;}

#header-image .image {
	background-size: cover;
	background-position: center center;
	width: 100%;
	transition: height .3s ease;
	position: relative;
	
	height:250px;
	@media (min-width:400px) { height:350px; }
	@media (min-width:$screen-sm-min) { height:400px; }
	@media (min-width:$screen-md-min) { height:400px; }
	@media (min-width:$screen-lg-min) { height:500px; }
	
	&.small {
		height:200px;
		@media (min-width:400px) { height:250px; }
		@media (min-width:$screen-sm-min) { height:300px; }
		@media (min-width:$screen-md-min) { height:300px; }
		@media (min-width:$screen-lg-min) { height:400px; }
	}
	
	&.large {
		height:350px;
		@media (min-width:400px) { height:450px; }
		@media (min-width:$screen-sm-min) { height:500px; }
		@media (min-width:$screen-md-min) { height:500px; }
		@media (min-width:$screen-lg-min) { height:600px; }
	}
	
	.caption {
		position: absolute;
		bottom:20px;
		text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
		@media (min-width:$screen-sm-min) {bottom:50px;}
	}
	
	.caption h1 {font-family:"Arial Black", "Arial", "Helvetica Neue"; font-weight: 900; font-size:30px;}
	.caption h1, .caption h4 {margin:0;}
}

.caption {
	color: white;
	text-align: center
}

#header-carousel {
	height:400px;
	width: 100%;
	text-overflow: ellipsis;
	
	transition: height .3s ease-in-out;
	@media (min-width:$screen-sm-min) { height:500px; }
	@media (min-width:$screen-md-min) { height:500px; }
	@media (min-width:$screen-lg-min) { height:600px; }
	
	.carousel-inner {
		width: 100%;
		height: 100%;
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
	.carousel-caption {
		bottom:0px;
		text-align: left;
		left: 0;
		right: 0;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 60px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
	
	.item {
		height: 100%;
		width: 100%;
		
		background-size: cover;
		background-position: center center;
	}
	
	h1 {
		font-weight: bold;
		@media (max-width: $screen-xs-max) {
			font-size:25px;
		}
	}
}


#carousel-wrapper {
	padding:0;
	margin:0;
}