.navbar-transparent {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	margin-bottom: 0;
	border-bottom: 1px solid transparent;
	border-top: 0;
	transition: background .3s ease, border-bottom .3s ease;
}
	
.navbar-nav > li > a { font-weight: bold; }
	
.navbar-brand, .navbar-nav > li > a {
	color: #f1f1f1;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	transition: color .3s ease, text-shadow .3s ease;
	transition: padding-top .3s ease, padding-bottom .3s ease;
}
	
.navbar-nav > li > a:hover {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	color:white;
}

.navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus{
	background-color: rgba(0,0,0,0.3);
}

.navbar-toggle {
	border: 1px solid #bbb;
	background:rgba(255,255,255,0.2);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	&:hover { background:rgba(255,255,255,0.3) }
	&:active { background:rgba(255,255,255,0.4) }
	transition: border .3s ease, box-shadow .3s ease, background .3s ease;
}

.navbar-toggle .icon-bar {
	border: 1px solid white;
	transition: border .3s ease;
}

@media (max-width: $screen-xs-max) {
	.navbar-collapse {
		background:#f9f9f9;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		text-align: center;
		ul {margin-top:0; margin-bottom:0;}
	}
	
	.navbar-collapse ul > li > a {
		padding-top: 10px !important; padding-bottom:10px !important;
	}
	
	.navbar-nav > li > a {
		color: #555;
		text-shadow: 0px 1px 2px rgba(0,0,0,0.0);
	}
	
	.navbar-nav > li > a:hover {
		background:rgba(0,0,0,0.05)
	}
	
	.navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus{
		background-color: rgba(0,0,0,0.2);
	}
	
	li.divider {
		background:#ccc
	}
	
	li.dropdown.open {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	li.dropdown > ul {
		padding-left: 15px;
		padding-right: 15px;
		background:rgba(0,0,0,0.05) !important;
	}
}


.navbar-transparent.solid {
	background:#f9f9f9;
	border-bottom: 1px solid #ddd;
	
	.navbar-brand, .navbar-nav > li > a {
		color: #555;
		text-shadow: 0px 1px 2px rgba(0,0,0,0.0);
	}
	
	.navbar-toggle {
		border: 1px solid #aaa;
		box-shadow: 0px 1px 2px transparent;
		&:hover { background:rgba(0,0,0,0.1) }
		&:active { background:rgba(0,0,0,0.2) }
	}
	
	.navbar-toggle .icon-bar {
		border: 1px solid #555
	}
	
	.nav > li > a:hover {
		background:rgba(0,0,0,0.1)
	}
	
	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
		background-color: rgba(0,0,0,0.2);
	}
	
}

.navbar lh {
	font-size:.8em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;
	color: #aaa;
	text-align: center
}


.navbar .navbar-brand {
	padding-top:0;
}
.navbar .navbar-brand img {
	height: 50px;
	transition: all .3s ease;
}

.navbar.big-logo {
	.navbar-brand img {
		height:50px;
		transform: translate3d(0, 0, 0);
		@media(min-width:$screen-md-min) { height:80px; }
		@media(min-width:$screen-lg-min) { height:100px; }
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
		@media(min-width:$screen-md-min) { padding-top: 30px;}
		@media(min-width:$screen-lg-min) { padding-top: 40px;}
	}
}