.nav-blocks {
	color: white;
	text-align: center;
	position: relative;
	background:#ddd;
	
	& > li > a {
		color: white;
		padding:10px 5px;
		margin:0;
		transition: background .3s ease;
		
		@media (max-width:$screen-xs-max) {
			padding:10px 0px;
		}
	}
	
	& > li {
		padding: 0;
		
		@media (max-width:$screen-xs-max) {
			display: block;
			float: left;
			width: 50%;
		}
	}
	
	h3 {
		margin:15px;
		@media (max-width:$screen-xs-max) { margin:10px; }
	}
}

.nav-pills {
	lh {
		margin-left:10px;
		text-transform: uppercase;
		font-weight: bold;
		color: #aaa
	}
	
	.divider {
		height:0px;
		margin-top:10px;
		border-bottom:1px solid #ddd;
		margin-bottom:10px;
	}
}

$base-colors: (lyceum: #FDB924, mavo: #88CBDF, beroepsonderwijs: #E31836, juniorcollege: #49A942);
@each $school,$base in $base-colors {
	.#{$school} {
		
		.nav-blocks { background: $base; }
	
		$primary-colors: (lighten($base, 11%), lighten($base, 8%), lighten($base, 13%), lighten($base, 10%), lighten($base, 10%));
		@each $color in $primary-colors {
			$i: index($primary-colors, $color);
			#primary-links > li:nth-of-type(#{$i}) > a {
				background:#{$color};
				text-shadow: 0px 1px 5px darken($color, 20%);
				color:white;
				&:hover { background: lighten($color, 10%); }
			}
			#primary-links > li.active > a {
				background: white;
				color:#333;
				z-index:10;
				text-shadow:none;
				box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
			}
			
			#primary-links > li:nth-of-type(#{$i}) > a.showoff {
				background: lighten($color, 10%);
			}
		}
		
			$secondary-colors: (darken($base, 11%), darken($base, 4%), darken($base, 7%), darken($base, 0%), darken($base, 8%), darken($base, 5%), darken($base, 10%), darken($base, 15%), darken($base, 6%), darken($base, 9%), darken($base, 13%), darken($base, 6.5%));
		@each $color in $secondary-colors {
			$i: index($secondary-colors, $color);
			#secondary-links > li:nth-of-type(#{$i}) > a {
				background:#{$color};
				text-shadow: 0px 1px 5px darken($color, 10%);
				color:white;
				&:hover, #secondary-links > li:nth-of-type(#{$i}).active > a { background: darken($color,10%); }
			}
			
			#secondary-links > li:nth-of-type(#{$i}) > a.showoff {
				background: lighten($color, 10%);
			}
		}
	}
	
	.calendar .event.#{$school} .event-color {background:$base;}
}
