.list-divided {
	& > li {
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
		padding-bottom: 10px;
		&:last-of-type {border-bottom: 0; margin-bottom: 0; padding-bottom: 0;}
	}
}



aside.sidebar {
	padding:0;
}